## PASO 0: Importar bibliotecas y leer datos

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'dataset_raw\movil_accesos.csv')
df

     Año  Trimestre  Accesos por cada 100 hab        Periodo
0   2013          1                       154   Ene-Mar 2013
1   2013          2                       156   Abr-Jun 2013
2   2013          3                       159  Jul-Sept 2013
3   2013          4                       159   Oct-Dic 2013
4   2014          1                       148   Ene-Mar 2014
5   2014          2                       143   Abr-Jun 2014
6   2014          3                       143  Jul-Sept 2014
7   2014          4                       143   Oct-Dic 2014
8   2015          1                       140   Ene-Mar 2015
9   2015          2                       139   Abr-Jun 2015
10  2015          3                       141  Jul-Sept 2015
11  2015          4                       143   Oct-Dic 2015
12  2016          1                       142   Ene-Mar 2016
13  2016          2                       143   Abr-Jun 2016
14  2016          3                       146  Jul-Sept 2016
15  2016          4                       146   Oct-Dic 2016
16  2017          1                       144   Ene-Mar 2017
17  2017          2                       143   Abr-Jun 2017
18  2017          3                       141  Jul-Sept 2017
19  2017          4                       140   Oct-Dic 2017
20  2018          1                       137   Ene-Mar 2018
21  2018          2                       134   Abr-Jun 2018
22  2018          3                       132  Jul-Sept 2018
23  2018          4                       131   Oct-Dic 2018
24  2019          1                       131   Ene-Mar 2019
25  2019          2                       129   Abr-Jun 2019
26  2019          3                       129  Jul-Sept 2019
27  2019          4                       125   Oct-Dic 2019
28  2020          1                       124   Ene-Mar 2020
29  2020          2                       122   Abr-Jun 2020
30  2020          3                       120  Jul-Sept 2020
31  2020          4                       120   Oct-Dic 2020
32  2021          1                       124   Ene-Mar 2021
33  2021          2                       124   Abr-Jun 2021
34  2021          3                       126  Jul-Sept 2021
35  2021          4                       128   Oct-Dic 2021
36  2022          1                       129   Ene-Mar 2022
37  2022          2                       129   Abr-Jun 2022
38  2022          3                       129  Jul-Sept 2022

In [3]:
pd.set_option('display.max.columns', 200)
pd.set_option('display.max.rows', 200)

'''Pandas por defecto no te muestra todas las columnas del dataframe.
Es util para la exploracion de datos tener un limite bastante alto.
Correr despues de haber creado el dataframe, sino da error.
'''

'Pandas por defecto no te muestra todas las columnas del dataframe.\nEs util para la exploracion de datos tener un limite bastante alto.\nCorrer despues de haber creado el dataframe, sino da error.\n'

---

## PASO 1: Comprensión de datos

- Dataframe `info`
- Dataframe `shape`
- `head` y `tail`
- Duplicados

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Año                       39 non-null     int64
 1   Trimestre                 39 non-null     int64
 2   Accesos por cada 100 hab  39 non-null     int64
 3   Periodo                   39 non-null     object
dtypes: int64(3), object(1)
memory usage: 1.3+ KB

In [5]:
df.shape

(39, 4)

In [6]:
# Verificar si hay filas completas duplicadas
duplicates = df[df.duplicated(keep=False, subset=df.columns)]
duplicates

Empty DataFrame
Columns: [Año, Trimestre, Accesos por cada 100 hab, Periodo]
Index: []

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
df.columns

Index(['Año', 'Trimestre', 'Accesos por cada 100 hab', 'Periodo'], dtype='object')

In [9]:
df.head(5)

    Año  Trimestre  Accesos por cada 100 hab        Periodo
0  2013          1                       154   Ene-Mar 2013
1  2013          2                       156   Abr-Jun 2013
2  2013          3                       159  Jul-Sept 2013
3  2013          4                       159   Oct-Dic 2013
4  2014          1                       148   Ene-Mar 2014

---

## PASO 2: Preparación de datos

- Quitar columnas y filas irrelevantes
- Renombrar columnas
- Identificar columnas y filas duplicadas

In [10]:
df = df[['Año', 'Trimestre', 'Accesos por cada 100 hab']]

df.head(5)

    Año  Trimestre  Accesos por cada 100 hab
0  2013          1                       154
1  2013          2                       156
2  2013          3                       159
3  2013          4                       159
4  2014          1                       148

In [11]:
df.isna().sum()   # Checkeamos Nulos por columna

Año                         0
Trimestre                   0
Accesos por cada 100 hab    0
dtype: int64

In [12]:
df.dtypes

Año                         int64
Trimestre                   int64
Accesos por cada 100 hab    int64
dtype: object

In [13]:
# Guardar DataFrame como un archivo CSV
df.to_csv(r'..\EDA\dataset_processed\movil_accesos_prces.csv', index=False)