## PASO 0: Importar bibliotecas y leer datos

In [57]:
import pandas as pd

In [58]:
df = pd.read_csv(r'dataset_raw\Telefononia_movil_Ingresos.csv')
df

     Año  Trimestre Ingresos (miles de $)        Periodo
0   2013          1          $ 13.135.235   Ene-Mar 2013
1   2013          2          $ 13.970.806   Abr-Jun 2013
2   2013          3          $ 15.235.659  Jul-Sept 2013
3   2013          4          $ 16.218.846   Oct-Dic 2013
4   2014          1          $ 15.938.353   Ene-Mar 2013
5   2014          2          $ 17.680.972   Abr-Jun 2014
6   2014          3          $ 18.976.053  Jul-Sept 2014
7   2014          4          $ 20.012.332   Oct-Dic 2014
8   2015          1          $ 19.337.342   Ene-Mar 2015
9   2015          2          $ 19.945.453   Abr-Jun 2015
10  2015          3          $ 21.785.238  Jul-Sept 2015
11  2015          4          $ 24.881.967   Oct-Dic 2015
12  2016          1          $ 24.763.052   Ene-Mar 2016
13  2016          2          $ 25.353.971   Abr-Jun 2016
14  2016          3          $ 27.416.177  Jul-Sept 2016
15  2016          4          $ 30.143.233   Oct-Dic 2016
16  2017          1          $ 31.205.565   Ene-Mar 2017
17  2017          2          $ 33.509.264   Abr-Jun 2017
18  2017          3          $ 35.711.689  Jul-Sept 2017
19  2017          4          $ 38.110.028   Oct-Dic 2017
20  2018          1          $ 38.733.946   Ene-Mar 2018
21  2018          2          $ 40.653.502   Abr-Jun 2018
22  2018          3          $ 43.280.089  Jul-Sept 2018
23  2018          4          $ 44.026.803   Oct-Dic 2018
24  2019          1          $ 50.246.691   Ene-Mar 2019
25  2019          2          $ 55.338.816   Abr-Jun 2019
26  2019          3          $ 60.905.891  Jul-Sept 2019
27  2019          4          $ 65.388.842   Oct-Dic 2019
28  2020          1          $ 72.077.147   Ene-Mar 2020
29  2020          2          $ 73.538.944   Abr-Jun 2020
30  2020          3          $ 79.634.755  Jul-Sept 2020
31  2020          4          $ 83.479.114   Oct-Dic 2020
32  2021          1          $ 93.112.153   Ene-Mar 2021
33  2021          2         $ 104.782.020   Abr-Jun 2021
34  2021          3         $ 117.751.925  Jul-Sept 2021
35  2021          4         $ 127.389.786   Oct-Dic 2021
36  2022          1         $ 130.454.676   Ene-Mar 2022
37  2022          2         $ 153.032.313   Abr-Jun 2022
38  2022          3         $ 174.057.836  Jul-Sept 2022

In [59]:
pd.set_option('display.max.columns', 200)
pd.set_option('display.max.rows', 200)

'''Pandas por defecto no te muestra todas las columnas del dataframe.
Es util para la exploracion de datos tener un limite bastante alto.
Correr despues de haber creado el dataframe, sino da error.
'''

'Pandas por defecto no te muestra todas las columnas del dataframe.\nEs util para la exploracion de datos tener un limite bastante alto.\nCorrer despues de haber creado el dataframe, sino da error.\n'

---

## PASO 1: Comprensión de datos

- Dataframe `info`
- Dataframe `shape`
- `head` y `tail`
- Duplicados

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Año                    39 non-null     int64
 1   Trimestre              39 non-null     int64
 2   Ingresos (miles de $)  39 non-null     object
 3   Periodo                39 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.3+ KB

In [61]:
df.shape

(39, 4)

In [62]:
# Verificar si hay filas completas duplicadas
duplicates = df[df.duplicated(keep=False, subset=df.columns)]
duplicates

Empty DataFrame
Columns: [Año, Trimestre, Ingresos (miles de $), Periodo]
Index: []

In [63]:
df.drop_duplicates(inplace=True)

In [64]:
df.columns

Index(['Año', 'Trimestre', 'Ingresos (miles de $)', 'Periodo'], dtype='object')

In [65]:
df.head(5)

    Año  Trimestre Ingresos (miles de $)        Periodo
0  2013          1          $ 13.135.235   Ene-Mar 2013
1  2013          2          $ 13.970.806   Abr-Jun 2013
2  2013          3          $ 15.235.659  Jul-Sept 2013
3  2013          4          $ 16.218.846   Oct-Dic 2013
4  2014          1          $ 15.938.353   Ene-Mar 2013

---

## PASO 2: Preparación de datos

- Quitar columnas y filas irrelevantes
- Renombrar columnas
- Identificar columnas y filas duplicadas

In [66]:
df = df[['Año', 'Trimestre', 'Ingresos (miles de $)']]

df.head(5)

    Año  Trimestre Ingresos (miles de $)
0  2013          1          $ 13.135.235
1  2013          2          $ 13.970.806
2  2013          3          $ 15.235.659
3  2013          4          $ 16.218.846
4  2014          1          $ 15.938.353

In [67]:
df.isna().sum()   # Checkeamos Nulos por columna

Año                      0
Trimestre                0
Ingresos (miles de $)    0
dtype: int64

In [68]:
df['Ingresos (miles de $)'] = df['Ingresos (miles de $)'].str.replace('$', '').str.replace('.', '')

C:\Users\Alan\AppData\Local\Temp\ipykernel_6680\3461056561.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Ingresos (miles de $)'] = df['Ingresos (miles de $)'].str.replace('$', '').str.replace('.', '')

In [69]:
df['Ingresos (miles de $)'] = df['Ingresos (miles de $)'].astype(int)

C:\Users\Alan\AppData\Local\Temp\ipykernel_6680\2866455194.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Ingresos (miles de $)'] = df['Ingresos (miles de $)'].astype(int)

In [70]:
# Cambiar el nombre de la columna 'nombre_actual' a 'nombre_nuevo'
df.rename(columns={'Ingresos (miles de $)': 'Ingresos_miles_pesos'}, inplace=True)

C:\Users\Alan\AppData\Local\Temp\ipykernel_6680\3353533502.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'Ingresos (miles de $)': 'Ingresos_miles_pesos'}, inplace=True)

In [71]:
df.drop(df.index[:4], inplace=True)

C:\Users\Alan\AppData\Local\Temp\ipykernel_6680\2739822756.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(df.index[:4], inplace=True)

In [72]:
df.head(4)

    Año  Trimestre  Ingresos_miles_pesos
4  2014          1              15938353
5  2014          2              17680972
6  2014          3              18976053
7  2014          4              20012332

In [73]:
df.dtypes

Año                     int64
Trimestre               int64
Ingresos_miles_pesos    int32
dtype: object

In [74]:
# Guardar DataFrame como un archivo CSV
df.to_csv(r'..\EDA\dataset_processed\Telefonia_movil_ingresos_prces', index=False)