## PASO 0: Importar bibliotecas y leer datos

In [1]:
import pandas as pd
from unidecode import unidecode

In [2]:
df = pd.read_csv(r'dataset_raw\Denuncias_reclamos.csv')
df

                           Servicio  Cantidad
0        Servicio de Telefonía Fija      5072
1                          Internet      3103
2  Servicios Comunicaciones Moviles      1386
3                             Cable       665

In [3]:
pd.set_option('display.max.columns', 200)
pd.set_option('display.max.rows', 200)

'''Pandas por defecto no te muestra todas las columnas del dataframe.
Es util para la exploracion de datos tener un limite bastante alto.
Correr despues de haber creado el dataframe, sino da error.
'''

'Pandas por defecto no te muestra todas las columnas del dataframe.\nEs util para la exploracion de datos tener un limite bastante alto.\nCorrer despues de haber creado el dataframe, sino da error.\n'

---

## PASO 1: Comprensión de datos

- Dataframe `info`
- Dataframe `shape`
- `head` y `tail`
- Duplicados

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Servicio  4 non-null      object
 1   Cantidad  4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 196.0+ bytes

In [5]:
df.shape

(4, 2)

In [6]:
# Verificar si hay filas completas duplicadas
duplicates = df[df.duplicated(keep=False, subset=df.columns)]
duplicates

Empty DataFrame
Columns: [Servicio, Cantidad]
Index: []

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
df.columns

Index(['Servicio', 'Cantidad'], dtype='object')

In [9]:
df.head(5)

                           Servicio  Cantidad
0        Servicio de Telefonía Fija      5072
1                          Internet      3103
2  Servicios Comunicaciones Moviles      1386
3                             Cable       665

---

## PASO 2: Preparación de datos

- Quitar columnas y filas irrelevantes
- Renombrar columnas
- Identificar columnas y filas duplicadas

In [10]:
df.isna().sum()   # Checkeamos Nulos por columna

Servicio    0
Cantidad    0
dtype: int64

In [11]:
df.head(15)

                           Servicio  Cantidad
0        Servicio de Telefonía Fija      5072
1                          Internet      3103
2  Servicios Comunicaciones Moviles      1386
3                             Cable       665

In [12]:
df.dtypes

Servicio    object
Cantidad     int64
dtype: object

In [15]:
# Guardar DataFrame como un archivo CSV
df.to_csv(r'..\EDA\dataset_processed\Denuncias_reclamos_prces', index=False)